{
    "server": "api.dropbox.com",
    "contentServer": "api-content.dropbox.com",
    "port": 443,
    "requestTokenUrl": "https://api.dropbox.com/0/oauth/request_token",
    "accessTokenUrl": "https://api.dropbox.com/0/oauth/access_token",
    "authorizationUrl": "https://www.dropbox.com/0/oauth/authorize",
    "trustedAccessTokenUrl": "https://api.dropbox.com/0/token",
    "root": "dropbox",
    "appName": "YOUR_APP_NAME",
    "consumerKey": "APP_KEY",
    "consumerSecret": "APP_SECRET",
    "verifier": "",
    "testingUser": "YOUR_LOGIN_EMAIL",
    "testingPassword": "YOUR_LOGIN_PASSWORD"
}
